{% extends 'base.html.twig' %}

{% block title %}Sites administrator{% endblock %}

{% block body %}

	<div class="row pt-2">
	
		<div class="container">
		<h4>Admin Sites</h4>

			<div class="col s12">
				<a href="{{path('new-site')}}" class="waves-effect waves-light btn right">New Site</a>
			</div>


			<div class="col s12">
		      <table class="highlight responsive-table">
		        <thead>
		          <tr>
		              <th>#</th>
		              <th>Name</th>
		              <th>ApiKey</th>
		              <th>Domain</th>
		          </tr>
		        </thead>

		        <tbody>
					{% for site in sites %}
					  <tr>
			            <td width="15%">
			             	<a href="{{path('update-site', {'id' : site.id})}}"><i class="fas fa-edit btn"></i></a>
			             	<a href="{{path('active-site', {'id' : site.id})}}">
			            	{% if site.active %}
								<i class="far fa-eye-slash btn red"></i>
							{% else %}
								<i class="far fa-eye btn green"></i>
			            	{% endif %}
			            	</a>
			            </td>
			            <td width="25%">{{site.name}}</td>
			            <td width="40%">{{site.apikey}}</td>
			            <td width="20%">{{site.domain}}</td>
			          </tr>
					{% endfor %}
		        </tbody>
		      </table>
			</div>
			<div class="col s12 pt-2">
				

				{% if current_page != 1 %}
					<a href="{{path('posts', {'page' : current_page - 1})}}"><i class="fas fa-chevron-left btn"></i></a>
				{% endif %}

				{% if current_page < max_page %}
					<a href="{{path('posts', {'page' : current_page + 1})}}"><i class="fas fa-chevron-right btn"></i></a> 
				{% endif %}
				<p class="right">{{current_page}}</p>
			</div>
		</div>

	</div>

{% endblock %}
