<li><a class="" href="{{path('sites')}}">Sites</a></li>
<li><a href="{{path('categories')}}">Categories</a></li>
<li><a href="{{path('comments')}}">Comments</a></li>
<li><a href="{{path('posts')}}">Posts</a></li>
<li><a href="{{path('edit-user')}}">User</a></li>
<li><a href="{{path('docs')}}">Docs</a></li>
<li><a class="btn teal darken-4" href="{{path('logout')}}">Log Out</a></li>